h1{
	font: 14px Verdana;
}

div{
	border: solid red 1px;
}

#select{/*index*/
	height:500px;
	width:500px;
	margin: 0 auto;
}

.pj{/*index*/
	height:100px;
	width:100px;
	float: left;
	margin-top:70px;
	margin-left:48px;
}

#instruccion{/*index*/
	height:50px;
	width:300px;
	margin: 0 auto;
	margin-top:70px;
	text-align:center;
	font: 16px Verdana;
}

.datos{/*index*/
	height:100px;
	width:95px;
	float: left;
	margin-top:10px;
	margin-left:48px;
	padding-left:5px;
	font: 12px Verdana;
}

#room{
	height: 800px;
	width: 800px;
	border: 2px solid red;
	position: relative;
	margin-left: 263px;
}

.pared{
	height: 100px;
	width: 100px;
	position: absolute;
	float: left;
	background-color: black;
	border: 1px solid black;
}

#cont{
	height: 800px;
	width: 800px;
	margin-left: 263px;
	border: 2px solid blue;
	position: relative;
	float: left;
}


#personaje{
	height: 100px;
	width: 100px;
	border: 1px solid green;
	position: absolute;
	background-color: pink;
	top: 600px;
	left: 0px;
}

#ene{
	height: 100px;
	width: 100px;
	border: 1px solid green;
	position: absolute;
	background-color: yellow;
	top: 700px;
	left: 400px;
	float: left;
}


#b{
	top: 0px;
	left: 300px;
}

#c{
	top: 0px;
	left: 700px;
}

#d{
	top: 100px;
	left: 0px;
}

#e{
	top: 100px;
	left: 200px;
}

#f{
	top: 100px;
	left: 300px;
}

#g{
	top: 100px;
	left: 500px;
}

#h{
	top: 200px;
	left: 300px;
}

#i{
	top: 200px;
	left: 600px;
}

#j{
	top: 300px;
	left: 100px;
}

#k{
	top: 300px;
	left: 200px;
}

#l{
	top: 300px;
	left: 300px;
}

#m{
	top: 300px;
	left: 500px;
}

#n{
	top: 400px;
	left: 300px;
}

#o{
	top: 400px;
	left: 400px;
}

#p{
	top: 400px;
	left: 600px;
}

#q{
	top: 500px;
	left: 0px;
}

#r{
	top: 500px;
	left: 100px;
}

#s{
	top: 500px;
	left: 300px;
}

#t{
	top: 600px;
	left: 100px;
}

#u{
	top: 600px;
	left: 300px;
}

#v{
	top: 600px;
	left: 500px;
}

#w{
	top: 700px;
	left: 600px;
}



