h1{
	font: 14px Verdana;
}

div{
	border: solid red 1px;
}

#select{/*index*/
	height:500px;
	width:500px;
	margin: 0 auto;
}

.pj{/*index*/
	height:100px;
	width:100px;
	float: left;
	margin-top:70px;
	margin-left:48px;
}

#instruccion{/*index*/
	height:50px;
	width:300px;
	margin: 0 auto;
	margin-top:70px;
	text-align:center;
	font: 16px Verdana;
}

.datos{/*index*/
	height:100px;
	width:95px;
	float: left;
	margin-top:10px;
	margin-left:48px;
	padding-left:5px;
	font: 12px Verdana;
}

#formulario{
	height:50px;
	width:500px;
	float: left;
	text-align:center;
}
 input{
	float:left;
	margin-left:75px;
	margin-right:75px;
 }
 #boton{
	margin-left:218px;
 }


#room{/*ROOM*/
	height:500px;
	width:500px;
	margin: 0 auto;
}